<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 0.8521738391912932" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8521738391912932" rpy="0 0 0"/>
            <geometry>
                <box size="1.4844361990662898 1.2729558655143256 1.7043476783825864" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8521738391912932" rpy="0 0 0"/>
            <geometry>
                <box size="1.4844361990662898 1.2729558655143256 1.7043476783825864" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 -0.6364779327571628 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 0.7657421280503429" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.7657421280503429" rpy="0 0 0"/>
            <geometry>
                <box size="2.974268783640298 1.9519447543793165 1.5314842561006858" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.7657421280503429" rpy="0 0 0"/>
            <geometry>
                <box size="2.974268783640298 1.9519447543793165 1.5314842561006858" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.7422180995331449 0 0.8521738391912932" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0.899453781787287 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.899453781787287 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.697914819007628 1.798907563574574 1.4402109447852587" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.899453781787287 0" rpy="0 0 0"/>
            <geometry>
                <box size="2.697914819007628 1.798907563574574 1.4402109447852587" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.9759723771896582 0.7657421280503429" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0.8122899839606044 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.8122899839606044 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2269472500048724 1.6245799679212087 1.370606747873357" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.8122899839606044 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2269472500048724 1.6245799679212087 1.370606747873357" />
            </geometry>
        </collision>
    </link>
</robot>