<robot name = "robot">
    <link name="Link0">
        <inertial>
            <origin xyz="0 0 0.6586970962146103" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6586970962146103" rpy="0 0 0"/>
            <geometry>
                <box size="1.0760013001368756 1.3568048230320717 1.3173941924292205" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6586970962146103" rpy="0 0 0"/>
            <geometry>
                <box size="1.0760013001368756 1.3568048230320717 1.3173941924292205" />
            </geometry>
        </collision>
    </link>
    <joint name="Link0_Link1" type="revolute">
       <parent link="Link0"/>
       <child  link="Link1"/>
       <origin rpy="0 0 0" xyz="0 -0.6784024115160359 0.5" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link1">
        <inertial>
            <origin xyz="0 0 0.6365239475208766" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6365239475208766" rpy="0 0 0"/>
            <geometry>
                <box size="2.5544561164978483 1.309535217542901 1.2730478950417532" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6365239475208766" rpy="0 0 0"/>
            <geometry>
                <box size="2.5544561164978483 1.309535217542901 1.2730478950417532" />
            </geometry>
        </collision>
    </link>
    <joint name="Link1_Link2" type="revolute">
       <parent link="Link1"/>
       <child  link="Link2"/>
       <origin rpy="0 0 0" xyz="0.5380006500684378 0 0.6586970962146103" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link2">
        <inertial>
            <origin xyz="0 0 0.5324541844944717" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5324541844944717" rpy="0 0 0"/>
            <geometry>
                <box size="1.6335094958753034 1.296324472086901 1.0649083689889434" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5324541844944717" rpy="0 0 0"/>
            <geometry>
                <box size="1.6335094958753034 1.296324472086901 1.0649083689889434" />
            </geometry>
        </collision>
    </link>
    <joint name="Link2_Link3" type="revolute">
       <parent link="Link2"/>
       <child  link="Link3"/>
       <origin rpy="0 0 0" xyz="0 0.6547676087714505 0.6365239475208766" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link3">
        <inertial>
            <origin xyz="0 0 0.5324426910391251" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5324426910391251" rpy="0 0 0"/>
            <geometry>
                <box size="1.4212709960034706 1.0467287001329841 1.0648853820782502" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5324426910391251" rpy="0 0 0"/>
            <geometry>
                <box size="1.4212709960034706 1.0467287001329841 1.0648853820782502" />
            </geometry>
        </collision>
    </link>
    <joint name="Link3_Link4" type="revolute">
       <parent link="Link3"/>
       <child  link="Link4"/>
       <origin rpy="0 0 0" xyz="0 -0.6481622360434505 -0.5324541844944717" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link4">
        <inertial>
            <origin xyz="0 0 0.5150224387828342" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5150224387828342" rpy="0 0 0"/>
            <geometry>
                <box size="1.222475955915839 1.0005554240335048 1.0300448775656683" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.5150224387828342" rpy="0 0 0"/>
            <geometry>
                <box size="1.222475955915839 1.0005554240335048 1.0300448775656683" />
            </geometry>
        </collision>
    </link>
    <joint name="Link4_Link5" type="revolute">
       <parent link="Link4"/>
       <child  link="Link5"/>
       <origin rpy="0 0 0" xyz="0 -0.5233643500664921 0.5324426910391251" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link5">
        <inertial>
            <origin xyz="0 0 0.885459338018703" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.885459338018703" rpy="0 0 0"/>
            <geometry>
                <box size="1.3171797837656745 1.1823950421400773 1.770918676037406" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.885459338018703" rpy="0 0 0"/>
            <geometry>
                <box size="1.3171797837656745 1.1823950421400773 1.770918676037406" />
            </geometry>
        </collision>
    </link>
    <joint name="Link5_Link6" type="revolute">
       <parent link="Link5"/>
       <child  link="Link6"/>
       <origin rpy="0 0 0" xyz="0.6112379779579195 -0.5002777120167524 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link6">
        <inertial>
            <origin xyz="0 0 0.8783787933279503" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.8783787933279503" rpy="0 0 0"/>
            <geometry>
                <box size="2.771408834738364 1.5792750999044578 1.7567575866559006" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.8783787933279503" rpy="0 0 0"/>
            <geometry>
                <box size="2.771408834738364 1.5792750999044578 1.7567575866559006" />
            </geometry>
        </collision>
    </link>
    <joint name="Link6_Link7" type="revolute">
       <parent link="Link6"/>
       <child  link="Link7"/>
       <origin rpy="0 0 0" xyz="-0.6585898918828372 0.5911975210700386 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link7">
        <inertial>
            <origin xyz="0 0 0.9496446377841239" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.9496446377841239" rpy="0 0 0"/>
            <geometry>
                <box size="2.702040663571811 1.878733031131754 1.8992892755682478" />
            </geometry>
            <material name="Green">
                <color rgba="0 1 0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.9496446377841239" rpy="0 0 0"/>
            <geometry>
                <box size="2.702040663571811 1.878733031131754 1.8992892755682478" />
            </geometry>
        </collision>
    </link>
    <joint name="Link7_Link8" type="revolute">
       <parent link="Link7"/>
       <child  link="Link8"/>
       <origin rpy="0 0 0" xyz="-1.385704417369182 -0.7896375499522289 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Link8">
        <inertial>
            <origin xyz="0 0 0.6032429252557581" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.6032429252557581" rpy="0 0 0"/>
            <geometry>
                <box size="2.398309300143074 1.992692602563424 1.2064858505115161" />
            </geometry>
            <material name="Blue">
                <color rgba="0 0 1 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.6032429252557581" rpy="0 0 0"/>
            <geometry>
                <box size="2.398309300143074 1.992692602563424 1.2064858505115161" />
            </geometry>
        </collision>
    </link>
</robot>